### 1.Numbers

### 2.Strings

### 3.Printing formats

In [1]:
print('The {}{}{}'.format('a','b','c'))

The abc

By index

In [2]:
print('The {0}{1}{2}'.format('a','b','c'))

The abc

By key

In [6]:
print('The {a} {g} {b}'.format(a='apple',b='banana',g='grape'))

The apple grape banana

In [7]:
name = "Same"
age = 3

In [8]:
print(f'{name} is {age} years old')

Same is 3 years old

### 4.Dictionaries

In [9]:
d = {'key1':'item1','key2':'item2'}

In [10]:
d['key1']

'item1'

In [12]:
d = {'key1':{'item1':[1,2,3]},'key2':'item2'}

In [13]:
d['key1']['item1']

[1, 2, 3]

### 5. Lists vs Tuples
<br> lists can re-assign values but tuples cannot

In [14]:
my_list = [1,2,3]

In [15]:
my_list[0] = 'new'

In [16]:
my_list

['new', 2, 3]

In [17]:
my_tuple = (1,2,3)

In [18]:
my_tuple[0]

1

In [19]:
my_tuple[0] = 'new'

TypeError: 'tuple' object does not support item assignment

### 6. Sets (unique elements)

In [20]:
set([1,1,2,3,3])

{1, 2, 3}

In [21]:
s = {1,2,3}

In [22]:
s.add(5)

In [23]:
s

{1, 2, 3, 5}

### 7. if,elif, else Statements

In [34]:
loc = 'Bank'
if loc == 'Auto Shop':
    print ('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print ('Welcome to the bank!')
else:
    print ("Where are you?")

Welcome to the bank!

### 8. for loops

In [53]:
l = [1,2,3,4,5,6,7,8,9,10]
for num in l:
    if num % 2 == 0:
        print (num)
    else:
        print ('%d is an odd number' % (num))

1 is an odd number
2
3 is an odd number
4
5 is an odd number
6
7 is an odd number
8
9 is an odd number
10

### 9. while loops

In [54]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

### 10. range()

In [55]:
range(0,5)

range(0, 5)

In [56]:
for num in range(0,5):
    print (num)

0
1
2
3
4

The default starting index is 0.

In [57]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 11. list comprehension

In [58]:
x = [1,2,3,4]
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [59]:
[item**2 for item in x]

[1, 4, 9, 16]

### 12. functions

In [60]:
def my_func(param1):
    print (param1)

In [61]:
my_func('hello')

hello

In [67]:
def my_func2(name='Default name'):
    print ('Hello ' + name)

In [68]:
my_func2('Sam')

Hello Sam

### 13. lambda expressions

In [69]:
def times2(var):
    return var*2

In [70]:
times2(2)

4

In [76]:
lambda var: var*2

In [77]:
t = lambda var: var*2

In [78]:
t(2)

4

### 14. Map

The general syntax of a lambda function is quite simple: <br>
lambda **argument_list: expression**<br>
The advantage of the lambda operator can be seen when it is used in combination with the map() function.<br> 
map() is a function with two arguments: r = map(func, seq)<br>
**map() applies the function func to all the elements of the sequence seq.** It returns a new list with the elements changed by function.<br>
**filter() appplies the filter func to all the elements of the sequence seq.** (imagine this as a if statement)

In [73]:
seq = [1,2,3,4,5]

In [81]:
map(times2,seq)

In [74]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [80]:
list(map(lambda var: var*3 , seq))

[3, 6, 9, 12, 15]

In [83]:
filter(lambda item: item%2 == 0,seq)

In [84]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

### 15. Methods

In [85]:
s = 'My name is Sam'

In [86]:
s.split()

['My', 'name', 'is', 'Sam']

In [87]:
tweet = 'Go Sports! #Sports'

In [88]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [89]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [92]:
d = {'key1':1,'key2':2}

In [93]:
d

{'key1': 1, 'key2': 2}

In [94]:
d.keys()

dict_keys(['key1', 'key2'])

In [96]:
d.items()

dict_items([('key1', 1), ('key2', 2)])

In [97]:
d.values()

dict_values([1, 2])

In [98]:
lst = [1,2,3]

In [99]:
item = lst.pop()

In [100]:
lst

[1, 2]

In [101]:
item

3

In [102]:
a = lst.pop(0)

In [103]:
a

1

In [104]:
x = [(1,2),(3,4),(5,6)]

In [106]:
for (a,b) in x:
    print (a,b)

1 2
3 4
5 6

In [107]:
for (a,b) in x:
    print (a)
    print (b)

1
2
3
4
5
6